---
layout: page
---
<section class="hero-section">
	<div class="container">
		<div class="row figure-holder">
			<div class="col-12 col-md-6 pt-3 pt-md-4">
				<h2 class="site-headline font-weight-bold mt-lg-5 pt-lg-5">Similar to MS Project. Available
					everywhere. Easy to use.</h2>
				<div class="site-tagline mb-3">Ingantt has advanced functionality allowing you to
					create complex schedules, plan costs and track your project's progress.
				</div>
				<div class="cta-btns">
					<div class="mb-4"><a id="tryWeb" class="btn btn-super btn-primary font-weight-bold theme-btn"
							href="{{ site.data.const.web_url }}" target="_blank">Try FREE Web version</a></div>
					<ul class="app-stores list-unstyled list-inline mx-auto mx-md-0 d-inline-block">
						<li class="list-inline-item"><a class="btn btn-primary theme-btn"
								href="{{ site.data.const.windows_url }}"><svg class="svg-inline--fa fa-windows"
									aria-hidden="true" focusable="false" data-prefix="fab" data-icon="windows"
									role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
									data-fa-i2svg="">
									<path fill="currentColor"
										d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z">
									</path>
								</svg><!-- <i class="fab fa-windows"></i> Font Awesome fontawesome.com --> <span
									class="btn-text"><span class="intro-text">Get for</span> <span
										class="main-text">Windows</span></span></a></li>
						<li class="list-inline-item"><a class="btn btn-primary theme-btn"
								href="{{ site.data.const.android_url }}" target="_blank"><svg
									class="svg-inline--fa fa-android" aria-hidden="true" focusable="false"
									data-prefix="fab" data-icon="android" role="img" xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 576 512" data-fa-i2svg="">
									<path fill="currentColor"
										d="M420.5 301.9a24 24 0 1 1 24-24 24 24 0 0 1 -24 24m-265.1 0a24 24 0 1 1 24-24 24 24 0 0 1 -24 24m273.7-144.5 47.94-83a10 10 0 1 0 -17.27-10h0l-48.54 84.07a301.3 301.3 0 0 0 -246.6 0L116.2 64.45a10 10 0 1 0 -17.27 10h0l47.94 83C64.53 202.2 8.24 285.5 0 384H576c-8.24-98.45-64.54-181.8-146.9-226.6">
									</path>
								</svg><!-- <i class="fab fa-android"></i> Font Awesome fontawesome.com --> <span
									class="btn-text"><span class="intro-text">Get for</span> <span
										class="main-text">Android</span></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="benefits-section theme-bg-primary py-5">
	<div class="container py-lg-5">
		<div class="row">
			{% for feature in site.features %}
			<div class="item col-12 col-lg-4">
				<div class="item-inner text-center p-3 p-lg-5">
					<h3 class="item-title">{{ feature.title }}</h3>
					<div>{{ feature.content }}</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="pt-3 text-center">
			<a class="btn btn-primary theme-btn theme-btn-ghost font-weight-bold" href="{{ site.data.const.docs_url }}"
				target="_blank">Read Documentation</a>
		</div>
	</div>
</section>

<section class="logos-section py-5 text-center">
	<h2 class="section-title">
		Create schedules everywhere
	</h2>
	<div class="section-intro">
		Ingantt is available on all screen sizes. On the Web, Android and Windows.
	</div>
	<div class="figures-wrapper">
		<div class="container text-center">
			<figure class="laptop-screen"><img class="img-fluid" src="assets/images/screens/laptop-screen-light.png"
					alt="">
			</figure>
			<figure class="tablet-screen"><img class="img-fluid" src="assets/images/screens/tablet-screen.png" alt="">
			</figure>
			<figure class="phone-screen"><img class="img-fluid" src="assets/images/screens/phone-screen.png" alt="">
			</figure>
		</div>
	</div>
</section>

<section class="features-section py-5">
	<div class="container py-lg-5 position-relative">
		<h3 class="mb-3 text-center font-weight-bold section-heading">Feature Highlights</h3>
		<div class="row pt-5 mb-5">
			<div class="col-12 col-md-6 col-xl-5 offset-xl-1 d-none d-md-block">
				<img class="product-figure product-figure-1 img-fluid" src="assets/images/product-figure-1-light.png"
					alt="" />
			</div>
			<div class="col-12 col-md-6 col-xl-5 pr-xl-3 pt-md-3">
				{% for feature1 in site.features1 %}
				<div class="card rounded border-0 shadow-lg  mb-5">
					<div class="card-body p-4">
						<h5 class="card-title"><i
								class="fas fa-laptop-code me-2 me-lg-3 text-primary fa-lg fa-fw"></i>{{ feature1.title
							}}</h5>
						<p class="card-text">{{ feature1.content }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-xl-5 order-md-2 pr-xl-3 d-none d-md-block">
				<img class="product-figure product-figure-2 img-fluid" src="assets/images/product-figure-2.png"
					alt="" />
			</div>
			<div class="col-12 col-md-6 col-xl-5 order-md-1 offset-xl-1 pt-xl-5">
				{% for feature2 in site.features2 %}
				<div class="card rounded border-0 shadow-lg  mb-5">
					<div class="card-body p-4">
						<h5 class="card-title"><i class="fas fa-user me-2 me-lg-3 text-primary fa-lg fa-fw"></i>{{
							feature2.title }}</h5>
						<p class="card-text">{{ feature2.content }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section class="cta-section py-5 theme-bg-secondary text-center">
	<div class="container">
		<h3 class="text-white font-weight-bold mb-3">Registration? Not needed!</h3>
		<div class="text-white mx-auto single-col-max-width section-intro">Create or open local files with no sign
			up, or
			just sign in with your existing Google account to save your files to your Google Drive.</div>
		<a class="btn theme-btn theme-btn-ghost theme-btn-on-bg mt-4" href="{{ site.data.const.web_url }}"
			target="_blank">Try Ingantt for Web - it's FREE</a>
	</div>
</section>

<section id="quote" class="testimonial-section py-5">
	<div class="py-lg-5">
		<h3 class="mb-5 text-center">Tips</h3>
		<div id="testimonial-carousel" class="testimonial-carousel">
			{% for tip in site.tips %}
			<div class="carousel-cell">
				<div class="item-inner shadow rounded">
					<h5 class="mb-2">{{ tip.title }}</h5>
					<div class="mb-3">{{ tip.content | markdownify }}</div>
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="pt-5 text-center">
			<ul class="app-stores list-unstyled list-inline mx-auto mx-md-0 d-inline-block">
				<li class="list-inline-item"><a class="btn btn-primary theme-btn"
						href="{{ site.data.const.web_url }}" target="_blank"><span class="btn-text"><span
								class="intro-text">Try FREE</span> <span class="main-text">Web version</span></span></a>
				</li>
				<li class="list-inline-item"><a class="btn btn-primary theme-btn"
						href="{{ site.data.const.windows_url }}"><svg class="svg-inline--fa fa-windows"
							aria-hidden="true" focusable="false" data-prefix="fab" data-icon="windows" role="img"
							xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
							<path fill="currentColor"
								d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z">
							</path>
						</svg><!-- <i class="fab fa-windows"></i> Font Awesome fontawesome.com --> <span
							class="btn-text"><span class="intro-text">Get for</span> <span
								class="main-text">Windows</span></span></a></li>
				<li class="list-inline-item"><a class="btn btn-primary theme-btn"
						href="{{ site.data.const.android_url }}" target="_blank"><svg
							class="svg-inline--fa fa-android" aria-hidden="true" focusable="false" data-prefix="fab"
							data-icon="android" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
							data-fa-i2svg="">
							<path fill="currentColor"
								d="M420.5 301.9a24 24 0 1 1 24-24 24 24 0 0 1 -24 24m-265.1 0a24 24 0 1 1 24-24 24 24 0 0 1 -24 24m273.7-144.5 47.94-83a10 10 0 1 0 -17.27-10h0l-48.54 84.07a301.3 301.3 0 0 0 -246.6 0L116.2 64.45a10 10 0 1 0 -17.27 10h0l47.94 83C64.53 202.2 8.24 285.5 0 384H576c-8.24-98.45-64.54-181.8-146.9-226.6">
							</path>
						</svg><!-- <i class="fab fa-android"></i> Font Awesome fontawesome.com --> <span
							class="btn-text"><span class="intro-text">Get for</span> <span
								class="main-text">Android</span></span></a></li>
			</ul>
		</div>
	</div>
</section>