---
layout: page
---
<section class="hero-section">
	<div class="container">
		<div class="row figure-holder">
			<div class="col-12 col-md-6 pt-3 pt-md-4">
				<h2 class="site-headline font-weight-bold mt-lg-5 pt-lg-5">{{ site.data.index.main_title }}</h2>
				<div class="site-tagline mb-3">{{ site.data.index.main_description }}</div>
				<div class="cta-btns">
					<div class="mb-4">{% include button_web.html %}</div>
					<ul class="app-stores list-unstyled list-inline mx-auto mx-md-0 d-inline-block">
						<li class="list-inline-item">{% include button_windows.html %}</li>
						<li class="list-inline-item">{% include button_android.html %}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="benefits-section theme-bg-primary py-5">
	<div class="container py-lg-5">
		<div class="row">
			{% for feature in site.data.index.main_features %}
			<div class="item col-12 col-lg-4">
				<div class="item-inner text-center p-3 p-lg-5">
					<h3 class="item-title">{{ feature.title }}</h3>
					<div>{{ feature.text }}</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="pt-3 text-center">
			<a class="btn btn-primary theme-btn theme-btn-ghost font-weight-bold" href="{{ site.data.const.docs_url }}"
				target="_blank">Read Documentation</a>
		</div>
	</div>
</section>

<section class="logos-section py-5 text-center">
	<h2 class="section-title">
		{{ site.data.index.sub_title }}
	</h2>
	<div class="section-intro">
		{{ site.data.index.sub_description }}
	</div>
	<div class="figures-wrapper">
		<div class="container text-center">
			<figure class="laptop-screen"><img class="img-fluid" src="assets/images/screens/laptop-screen-light.png"
					alt="">
			</figure>
			<figure class="tablet-screen"><img class="img-fluid" src="assets/images/screens/tablet-screen-light.png" alt="">
			</figure>
			<figure class="phone-screen"><img class="img-fluid" src="assets/images/screens/phone-screen-light.png" alt="">
			</figure>
		</div>
	</div>
</section>

<section class="features-section py-5">
	<div class="container py-lg-5 position-relative">
		<h3 class="mb-3 text-center font-weight-bold section-heading">{{ site.data.index.features_title }}</h3>
		<div class="row pt-5 mb-5">
			<div class="col-12 col-md-6 col-xl-5 offset-xl-1 d-none d-md-block">
				<img class="product-figure product-figure-1 img-fluid" src="assets/images/product-figure-1-light.png"
					alt="" />
			</div>
			<div class="col-12 col-md-6 col-xl-5 pr-xl-3 pt-md-3">
				{% for feature1 in site.data.index.features1 %}
				<div class="card rounded border-0 shadow-lg  mb-5">
					<div class="card-body p-4">
						<h5 class="card-title"><i
								class="fas fa-laptop-code me-2 me-lg-3 text-primary fa-lg fa-fw"></i>{{ feature1.title
							}}</h5>
						{{ feature1.text  | markdownify }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-xl-5 order-md-2 pr-xl-3 d-none d-md-block">
				<img class="product-figure product-figure-2 img-fluid" src="assets/images/product-figure-2-light.png"
					alt="" />
			</div>
			<div class="col-12 col-md-6 col-xl-5 order-md-1 offset-xl-1 pt-xl-5">
				{% for feature2 in site.data.index.features2 %}
				<div class="card rounded border-0 shadow-lg  mb-5">
					<div class="card-body p-4">
						<h5 class="card-title"><i class="fas fa-user me-2 me-lg-3 text-primary fa-lg fa-fw"></i>{{
							feature2.title }}</h5>
						{{ feature2.text | markdownify }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section class="cta-section py-5 theme-bg-secondary text-center">
	<div class="container">
		<h3 class="text-white font-weight-bold mb-3">{{ site.data.index.sub2_title }}</h3>
		<div class="text-white mx-auto single-col-max-width section-intro">{{ site.data.index.sub2_description }}</div>
		<a class="btn theme-btn theme-btn-ghost theme-btn-on-bg mt-4" href="{{ site.data.const.web_url }}"
			target="_blank">Try Ingantt for Web - it's FREE</a>
	</div>
</section>

<section id="quote" class="testimonial-section py-5">
	<div class="py-lg-5">
		<h3 class="mb-5 text-center">{{ site.data.index.tips_title }}</h3>
		<div id="testimonial-carousel" class="testimonial-carousel">
			{% for tip in site.tips %}
			<div class="carousel-cell">
				<div class="item-inner shadow rounded">
					<h5 class="mb-2">{{ tip.title }}</h5>
					<div class="mb-3">{{ tip.content | markdownify }}</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="pt-5 text-center">
			<ul class="app-stores list-unstyled list-inline mx-auto mx-md-0 d-inline-block">
				<li class="list-inline-item">{% include button_web.html %}</li>
				<li class="list-inline-item">{% include button_windows.html %}</li>
				<li class="list-inline-item">{% include button_android.html %}</li>
			</ul>
		</div>
	</div>
</section>