/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Applying font to the entire body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1140px;
    padding: 20px;
}

/* Header */

header {
    background-color: #ffffff;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5em;
    font-weight: 700;
    color: #333;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: #4285f4;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #357ae8;
}

/* Top Section */

.top-section {
    background-color: white;
}

#top-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    text-align: left;
}

.top-section .text-content {
    flex: 1;
    max-width: 40%;
    padding: 60px;
}

.top-section h1 {
    font-weight: 400;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#main-screenshot {
    flex: 1;
    max-width: 80%;
    padding-top: 80px;
}

#main-screenshot img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.top-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.tip {
    font-style: italic;
    color: #777;
}

.main-button {
    padding: 15px 30px;
    font-size: 1em;
    color: #fff;
    background-color: #4285f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.main-button:hover {
    background-color: #357ae8;
}

/* Other Versions Section */
.other-versions {
    background-color: #f1f1f1;
    text-align: center;
}

.other-versions h2 {
    font-weight: 400;
    font-size: 1.4em;
    margin-bottom: 20px;
}

#badges-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#badges-list li {
    display: inline;
    max-height: 52px;
}

#android-badge img {
    max-height: 76px;
    margin-top: -12px;
}

ms-store-badge::part(img) {
    max-height: 52px;
    vertical-align: middle;
}

.badge {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.google-play {
    background-color: #34a853;
}

.google-play:hover {
    background-color: #2c8d43;
}

.app-store {
    background-color: #000000;
}

.app-store:hover {
    background-color: #333333;
}

.windows {
    background-color: #0078d6;
}

.windows:hover {
    background-color: #006bb5;
}

.macos {
    background-color: #888888;
}

.macos:hover {
    background-color: #666666;
}

/* Features Overview Section */
.features-overview {
    padding: 40px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.features-overview .feature {
    margin-bottom: 30px;
    text-align: center;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
}

.features-overview h3 {
    font-weight: 400;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.features-overview p {
    font-size: 1.1em;
}

/* See How It Works Section */
.see-how-it-works {
    background-color: #f1f1f1;
   /* border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: left;
}

/*.see-how-it-works > h2 {
    font-weight: 500;
    font-size: 1.8em;
    color: #333;
    text-align: center;
}*/

.content-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.tabs {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tab-button {
    font-size: 1em;
    font-weight: 500;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
}

.tab-button:hover {
    background-color: #f1f1f1;
}

.tab-button.active {
    background-color: #4285f4;
    color: #fff;
}

.tab-content {
    flex: 1;
    padding: 20px 20px 40px 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-content h3 {
    font-weight: 500;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Text and Image Section */
.text-image-section {
    text-align: center;
    background-color: rgb(247, 244, 240);
}

.text-image-section h2 {
    font-weight: 400;
    font-size: 1.5em;
    color: #333;
    margin-top: 0;
    margin-bottom: 40px;
}

.text-image-section .merged-content {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    margin-bottom: 40px;
}

.text-image-section .content-wrapper {
    background-color: #eee;
    flex: 1 1 calc(45% - 40px);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border-radius: 15px;
    box-sizing: border-box;
}

.text-image-section .content-wrapper.reverse {
    flex-direction: row-reverse;
}

.text-image-section .text-content {
    flex: 1;
}

.text-image-section .text-content h3 {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 10px;
}

.text-image-section .text-content p {
    font-size: 1em;
    line-height: 1.5;
}

.text-image-section .image-content {
    flex: 1;
    text-align: center;
}

.text-image-section .image-content i {
    font-size: 2em;
    color: #f6ad01;
    margin-bottom: 10px;
}

.text-image-section .image-content img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Item Container (Second Row) */
.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.feature-item, .item {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 0 22px;
}

.item {
    flex: 1 1 calc(30% - 40px);
    box-sizing: border-box;
}

.item .icon {
    font-size: 2em;
    color: #f6ad01;
    margin-bottom: 10px;
}

.item h3 {
    font-weight: 400;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.item p {
    font-size: 1em;
    line-height: 1.5;
}

.item img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Randomly Scattered Features Section */
.scattered-features {
    position: relative;
    height: 555px;
    background-color: #eee;
}

.scattered-item {
    position: absolute;
    width: 200px; /* Adjust width as needed */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    color: #333;
    text-align: center;
    line-height: 1.6;
}

.quote-icon {
    font-size: 1.5em;
    color: #4286f47c;
    margin: 5px;
}

/* Randomly position each scattered-item within the section */
.scattered-item:nth-child(1) { top: 20px; left: 30px; transform: rotate(-5deg); }
.scattered-item:nth-child(2) { top: 110px; left: 280px; transform: rotate(5deg); }
.scattered-item:nth-child(3) { top: 240px; left: 50px; transform: rotate(8deg); }
.scattered-item:nth-child(4) { top: 300px; left: 300px; width: 300px; transform: rotate(-5deg);}
.scattered-item:nth-child(5) { top: 400px; left: 670px; width: 320px; transform: rotate(-4deg);}
.scattered-item:nth-child(6) { top: 55px; left: 410px; width: 350px; transform: rotate(7deg);}
.scattered-item:nth-child(7) { top: 216px; left: 524px; transform: rotate-(5deg);}
.scattered-item:nth-child(8) { top: 200px; left: 765px; width: 300px; transform: rotate(1deg);}
.scattered-item:nth-child(9) { top: 50px; left: 770px; width: 290px; transform: rotate(-2deg);}

/* Frequently Asked Questions Section */
.faq-section {
    display: flex;
    gap: 20px;
    background-color: white;
}

.faq-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.faq-content {
    flex: 2;
    margin: 40px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-answer {
    display: none;
    margin-top: 10px;
    color: #333;
    line-height: 1.6;
}

.faq-toggle {
    font-size: 1.2em;
    color: #4285f4;
}

.faq-side-box {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 40px;
}

.faq-side-box p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.faq-side-box button {
    margin-bottom: 28px;
}
/* Call to Action Section */
.cta-section {
    text-align: center;
    background-color: #e6e6e6;
}

.cta-section img {
    height: 80px;
    width: auto;
    border-radius: 4px;
    border-color: #777;
}

.cta-section h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.cta-section .main-button {
    margin-bottom: 8px;
}

.platform-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.platform-link {
    padding: 10px 20px;
    font-size: 1em;
    color: #4285f4;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.platform-link:hover {
    background-color: #f1f1f1;
    color: #357ae8;
}

/* Footer */
.footer-section {
    background-color: #eff2f5;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
}

.footer-column h3 {
    font-weight: 500;
    margin-bottom: 15px;

}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    color: #526b84;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #4285f4;
}


/* Buttons */

.main-button {
    padding: 10px 20px;
    font-size: 1.1em;
    color: #fff;
    background-color: #4285f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-button:hover {
    background-color: #357ae8;
}

.main-button, .badge {
    transition: transform 0.3s;
}

.main-button:hover, .badge:hover {
    transform: translateY(-3px);
}

.secondary-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #4285f4;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-button:hover {
    background-color: #f1f1f1;
}

.expand-collapse-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #4285f4;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.expand-collapse-button:hover {
    background-color: #f1f1f1;
    color: #357ae8;
}