.logo-icon {
    height: 40px;
    border-radius: 10px;
}

.btn-super {
    color: #fff;
    background-color: #51a852;
    border-color: #51a852;
}

.btn-super:hover,
.btn-super:focus {
    color: #fff;
    background: darken(#51a852, 15%);
    border-color: darken(#51a852, 15%);
}

.laptop-screen img {
    width: 1140px;
}

.phone-screen {
    position: absolute;
    right: 0;
    bottom: 0;
}

.phone-screen img {
    width: 205px;
}

@media (max-width: 767.98px) {
    .phone-screen {
        max-width: 80px;
    }
}

@media (max-width: 767.98px) {
    .tablet-screen {
        max-width: 220px;
    }
}

.tablet-screen {
    position: absolute;
    left: 0;
    bottom: 0;
}

.tablet-screen img {
    width: 520px;
}

.logos-section .container {
    max-width: 1320px;
    position: relative;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.app-stores {
    margin-top: 100px;
}

@media (max-width: 767.98px) {
    .app-stores {
        margin-top: 0;
    }
}

.btn-primary {
    margin-bottom: 15px;
}

@media (max-width: 767.98px) {
    .cta-btns .mb-4 {
        margin-bottom: 0;
    }
}

.app-stores .btn-text,
.app-stores .main-text {
    font-size: 13pt;
}

.dark-mode {
    background: #1D1E22;
}

.dark-mode .site-headline {
    color: #fff;
}

.dark-mode .logo-text {
    color: #fff;
}

.dark-mode h2 {
    color: #fff;
}

.dark-mode .testimonial-section h3 {
    color: #fff;
}

.hero-section .figure-holder {
    background-image: url(../images/hero-figure-light.png);
}

.dark-mode .hero-section .figure-holder {
    background-image: url(../images/hero-figure-dark.png);
}

figure.laptop-screen img {
    content: url(../images/screens/laptop-screen-light.png);
}

.dark-mode figure.laptop-screen img {
    content: url(../images/screens/laptop-screen-dark.png);
}

figure.tablet-screen img {
    content: url(../images/screens/tablet-screen-light.png);
}

.dark-mode figure.tablet-screen img {
    content: url(../images/screens/tablet-screen-dark.png);
}

figure.phone-screen img {
    content: url(../images/screens/phone-screen-light.png);
}

.dark-mode figure.phone-screen img {
    content: url(../images/screens/phone-screen-dark.png);
}

img.product-figure-1 {
    content: url(../images/product-figure-1-light.png);
}

.dark-mode img.product-figure-1 {
    content: url(../images/product-figure-1-dark.png);
}

.testimonial-carousel {
    height: 250px;
 }

img.product-figure-2 {
    content: url(../images/product-figure-2-light.png);
}

 .dark-mode img.product-figure-2 {
    content: url(../images/product-figure-2-dark.png);
}

.dark-mode section.text h3 {
    color: #fff;
}

section.text h3 {
    margin-top: 50px;
}

section.text {
    padding-bottom: 100px;
}

.card-body p {
    margin-top: 15px;
}

.hero-section .app-stores img.google-badge {
    height: 76px;
}

ms-store-badge::part(img) {
    max-height: 52px;
    vertical-align: middle;
}

.blog-date {
    text-align: right;
    color: darkgrey;
    font-size: 10pt;
}

.dark-mode .blog-post h2 {
    color: black;
}

.blog-post p {
    font-size: 14pt;
}