---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.active_lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assign page_data = site.data[site.active_lang].text-pages[page.page_name] %}
    {% assign default_index_data = site.data[site.active_lang].index-workspace %}
    {% assign index_data = site.data[site.active_lang][page.index_name] | default: default_index_data %}
    {% if page_data %}
        <title>{{ page_data.page_title }}</title>
        <meta name="keywords" content="{{ page_data.keywords }}">
        <meta name="description" content="{{ page_data.description }}">
    {% else %}
        <title>{{ index_data.title }}</title>
        <meta name="keywords" content="{{ index_data.meta_keywords }}">
        <meta name="description" content="{{ index_data.meta_description }}">
    {% endif %}
    <link rel="stylesheet" href="/styles/styles.css">
    {% if page.styles_file %}<link rel="stylesheet" href="/styles/{{ page.styles_file }}">{% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    {% include language_head.html %}
</head>
<body>
    <header>
        <nav class="container">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="Ingantt Logo" class="logo-img">
                    <span class="logo-text">{{ default_index_data.header.logo_text }}</span>
                </a>
            </div>
            {% if site.data[site.active_lang][page.index_name] %}
            <div class="nav-right">
                <div class="language-select nav-version">
                    <div class="language-current">
                        <i class="{{ index_data.products.current.icon }}"></i>
                        <span>{{ index_data.products.current.text }}</span>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="language-dropdown">
                        {% for version in index_data.products.versions %}
                        <a href="/{{ site[version.url] }}"><i class="{{ version.icon }}"></i> {{ version.text }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <div class="container">
            <div class="footer-grid">
                {% for section in default_index_data.footer.sections %}
                {% assign section_data = section[1] %}
                <div class="footer-section">
                    <h3>{{ section_data.title }}</h3>
                    {% if section[0] == 'products' %}
                    <ul>
                        {% for item in index_data.products.versions %}
                        <li>
                            <a href="{% if item.url == '/' %}{{ item.url }}{% else %}/{{ site[item.url] }}{% endif %}">
                                {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                                {{ item.text }}
                            </a>
                        </li>
                        {% endfor %}
                        {% assign item = index_data.products.current %}
                        <li>
                            <a href="{% if item.url == '/' %}{{ item.url }}{% else %}/{{ site[item.url] }}{% endif %}" class="active">
                                {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                                {{ item.text }}
                            </a>
                        </li>
                    </ul>
                    {% endif %}

                    {% if section[0] == 'legal' %}
                    <ul>
                        {% for item in section_data.items %}
                        <li>
                            <a href="{% if item.url == '/' %}{{ item.url }}{% else %}/{{ site[item.url] }}{% endif %}" {% if item.active %}class="active"{% endif %}>
                                {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                                {{ item.text }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if section[0] == 'connect' %}
                    <ul>
                        {% for item in section_data.items %}
                        <li>
                            <a href="mailto:{{ site[item.url] }}">
                                <i class="{{ item.icon }}"></i>{{ item.text }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="social-links">
                        {% for social in section_data.social_links %}
                        <a href="{{ site[social.url] }}" aria-label="{{ social.title }}" title="{{ social.title }}" target="_blank">
                            <i class="{{ social.icon }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if section[0] == 'site_settings' %}
                    <div class="language-select">
                        <div class="language-current">
                            <i class="{{ section_data.language.current.icon }}"></i>
                            <span>{{default_index_data.lang_name}}</span>
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="language-dropdown">
                            {% for lang in site.languages %}
                                {% assign lang_name = site.data[lang].index-workspace.lang_name %}

                                {% if lang == site.default_lang %}
                                    <a {% if lang == site.active_lang %}class="active"{% endif %} onclick="changeLanguage('{{ lang }}')" href=" {{ page.url }}">{{ lang_name }}</a>
                                {% else %}
                                    <a {% if lang == site.active_lang %}class="active"{% endif %} onclick="changeLanguage('{{ lang }}')" href="/{{ lang }}{{ page.url }}">{{ lang_name }}</a>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                    <button id="theme-toggle" aria-label="{{ section_data.theme_toggle.text }}" title="{{ section_data.theme_toggle.text }}">
                        <i class="{{ section_data.theme_toggle.icon }}"></i> {{ section_data.theme_toggle.text }}
                    </button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="footer-bottom">
                <p>&copy; {{ site.time | date: '%Y' }} {{ default_index_data.footer.copyright }}</p>
            </div>
        </div>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>
